<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Price Tracker</title>
</head>
<body>
    <nav id="navbar">
        <div id="logo-container">
            <a id="logo" href="add something here">Price Tracker</a> <!-- ------------------     http://localhost:3000/     ----------------------- -->
        </div>
        <div id="nav-mid">
            <form id="search-form" action="/goto-user" method="POST">
                <input id="enter-user" type="text" name="username" placeholder="Enter Username" required>
                <button id="submit-user" type="submit">Search</button>
            </form>
        </div>
        <div id="nav-right">
            <ul>
                <li><a id="amazon-link" class="hover-underline-animation" href="https://www.amazon.com/" target="_blank">Amazon</a></li>
            </ul>
        </div>
    </nav>
    <main class="main">
        <section id="page-intro">
            <p id="welcome">Welcome to Amazon Price Tracker!</p>
        </section>

        <section id="container">
            <div id="intro-img-container">
                <img id="intro-img" src="/images/intro_chart.jpg" alt="Price Chart">
            </div>

            <div id="new-user">
                <p id="page-description">With Amazon Price Tracker, you can easily monitor the price of items while following price trends to determine when it's the best time to buy.</p>
                <p id="new-user-text">Create New User</p>
                <form id="new-user-form" action="/create-user" method="POST">
                    <input id="enter-new-user" type="text" name="username" placeholder="Enter Username" required>
                    <button id="submit-new-user" type="submit">Create</button>
                </form>
                <% if (failed) { %>
                    <p id="error-message">Username already taken</p>
                <% } %>
            </div>
        </section>
    </main>
</body>

</html>