<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-home.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
    <title>Price Tracker</title>
</head>
<body>
    <nav id="navbar">
        <div id="logo-container">
            <a id="logo" href="add something here">Price Tracker</a> <!-- ------------------     http://localhost:3000/     ----------------------- -->
        </div>
        <div id="nav-mid">
            <form id="search-form" action="/goto-user" method="POST">
                <input id="enter-user" type="text" name="username" placeholder="Enter Username" required>
                <button id="submit-user" type="submit">Go <span>&#x21E8</span></button>
            </form>
        </div>
        <div id="nav-right">
            <ul>
                <li id='username'><%= name %></li>
                <li><a id="amazon-link" class="hover-underline-animation" href="https://www.amazon.com/" target="_blank">Amazon</a></li>
            </ul>
        </div>
    </nav>
    <main class="main">
        <section id="page-intro">
            <p id="welcome">Welcome, <%= name %>!</p>
            <p id="page-description">Items List</p>
        </section>

        <section id="add-item">
            <form id="add-item-form">
                <button id="add-item-button" type="button">+ Add Item</button>
                <% if (failed) { %>
                    <p id="error-message">Unable to Add Item!</p>
                <% } %>
            </form>
            </script>
        </section>
        
        <section id="add-item-url">
            <div>
                <p id="add-item-text">Add Item</p>
                <div id="add-item-close" class="close-button"></div>
            </div>
            <form id="add-item-url-form" action="/add-item-url" method="POST">
                <input id="enter-item-url" type="url" name="url" placeholder="Enter URL" required>
                <input type="hidden" name="username" value="<%= name %>">
                <button id="submit-item-url" type="submit">Add</button>
            </form>
        </section>

        <%- include('item-list', { allData: allData, name: name }) %>
        
        <% if (Object.keys(allData).length == 0) { %>
            <div id="empty-cart-container">
                <img id="empty-cart-img" src="/images/empty_cart.png" alt="Empty Cart">
                <p id="empty-cart-text">
                    Items List is Empty!<br>
                    Add an Item!
                </p>
            </div>
        <% } %>

        <div id="bg-blur"></div>
        <div id="load-animation">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <p class="load-text">Adding</p>
        </div>

    </main>
    <script type="text/javascript" src="/js/user-home.js"></script>
</body>

</html>